.learning {

}

.learning__title {

}

.lerning__btn-container {

}

.lerning-btn-container {

}

.lerning-btn-container__btn {
  display: block;

	width: 200px;
	height: 40px;

	margin: 10px 5px;

	background-color: transparent;

	border:1px solid black;
	border-radius: 15px;

	outline: none;

	color: white;

  cursor: pointer;
}

.lerning-btn-container__text {

}

.lerning-btn-container__text-timer-js {

}

.lerning-btn-container__inner {
  display: flex;
  justify-content: space-between;

  margin: 5px 0;
}


